# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/bin/Debug/HtmlAgilityPack.pdb
src/bin/Debug/HtmlAgilityPack.xml
src/bin/Debug/itextsharp.xml
src/bin/Debug/Jaeger.SAT.CF.pdb
src/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/Jaeger.SAT.CF.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CF.csproj.CopyComplete
src/obj/Debug/Jaeger.SAT.CF.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CF.csproj.FileListAbsolute.txt
src/obj/Debug/Jaeger.SAT.CF.pdb
src/bin/Debug/Jaeger.SAT.CIF.pdb
src/obj/Debug/Jaeger.SAT.CIF.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CIF.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CIF.csproj.FileListAbsolute.txt
src/obj/Debug/Jaeger.SAT.CIF.pdb
tests/.vs/Jaeger.CIF/FileContentIndex/26252942-e419-4ba1-b2ba-54bcb548c3a2.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/2b644682-a5eb-4fe9-8cfc-276eb1fd4415.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/a0c31545-0b18-4ab0-825b-0b4be1383046.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/b1aeecf8-ac92-4516-b168-0ba7000a3656.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/b5b14ba1-03fb-4660-9d54-4b0cf6ab7ace.vsidx
tests/.vs/Jaeger.CIF/v17/.suo
tests/CIF.Sample/bin/Debug/CIF.Sample.exe.config
tests/CIF.Sample/bin/Debug/CIF.Sample.pdb
tests/CIF.Sample/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
tests/CIF.Sample/obj/Debug/CIF.Sample.csproj.AssemblyReference.cache
tests/CIF.Sample/obj/Debug/CIF.Sample.csproj.CoreCompileInputs.cache
tests/CIF.Sample/obj/Debug/CIF.Sample.csproj.FileListAbsolute.txt
tests/CIF.Sample/obj/Debug/CIF.Sample.pdb
tests/CIF.Sample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tests/packages/BouncyCastle.1.8.9/.signature.p7s
tests/packages/BouncyCastle.1.8.9/BouncyCastle.1.8.9.nupkg
tests/packages/BouncyCastle.1.8.9/README.md
tests/packages/HtmlAgilityPack.1.11.36/.signature.p7s
tests/packages/HtmlAgilityPack.1.11.36/HtmlAgilityPack.1.11.36.nupkg
tests/packages/HtmlAgilityPack.1.11.36/lib/Net35/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/Net35/HtmlAgilityPack.xml
tests/packages/HtmlAgilityPack.1.11.36/lib/Net40-client/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/Net40-client/HtmlAgilityPack.xml
tests/packages/HtmlAgilityPack.1.11.36/lib/Net40/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/Net40/HtmlAgilityPack.XML
tests/packages/HtmlAgilityPack.1.11.36/lib/Net45/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/Net45/HtmlAgilityPack.XML
tests/packages/HtmlAgilityPack.1.11.36/lib/NetCore45/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/NetCore45/HtmlAgilityPack.XML
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard1.3/HtmlAgilityPack.deps.json
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard1.3/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard1.3/HtmlAgilityPack.xml
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard1.6/HtmlAgilityPack.deps.json
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard1.6/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard1.6/HtmlAgilityPack.xml
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard2.0/HtmlAgilityPack.deps.json
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard2.0/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/netstandard2.0/HtmlAgilityPack.xml
tests/packages/HtmlAgilityPack.1.11.36/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
tests/packages/HtmlAgilityPack.1.11.36/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
tests/packages/HtmlAgilityPack.1.11.36/lib/uap10.0/HtmlAgilityPack.pdb
tests/packages/HtmlAgilityPack.1.11.36/lib/uap10.0/HtmlAgilityPack.pri
tests/packages/HtmlAgilityPack.1.11.36/lib/uap10.0/HtmlAgilityPack.XML
tests/packages/iTextSharp.5.5.13.3/.signature.p7s
tests/packages/iTextSharp.5.5.13.3/gnu-agpl-v3.0.md
tests/packages/iTextSharp.5.5.13.3/iTextSharp.5.5.13.3.nupkg
tests/packages/iTextSharp.5.5.13.3/lib/iTextSharp.xml
tests/packages/iTextSharp.5.5.13.3/LICENSE.md
tests/packages/iTextSharp.5.5.13.3/notice.txt
tests/packages/ThoughtWorks.QRCode.1.1.0/.signature.p7s
tests/packages/ThoughtWorks.QRCode.1.1.0/ThoughtWorks.QRCode.1.1.0.nupkg
tests/.vs/Jaeger.CIF/FileContentIndex/171f0c52-a9ea-44af-8ad3-c1e1a0279657.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/2e39b7a8-fe7b-46e0-a0ba-2e0f80d9d50d.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/622f4fe6-ca07-4ba1-90e0-d5cb66af7dd0.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/85633178-6100-4d48-8424-22a35c4916fc.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/d30fc4a5-37f0-48db-8aa9-4868abb04c92.vsidx
src/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tests/.vs/Jaeger.CIF/FileContentIndex/34985e83-b225-4097-83f3-d2bef3e197b5.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/48f1fa45-62c9-4301-adde-ef9cc16d4b98.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/aa018f94-c20c-4caf-9c50-c65f363d3872.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/c0e8969c-953c-4c6c-ac03-e23ac4cc97b9.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/ffb03c3c-2644-4348-9f4b-c5e5a2f91bc8.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/7c0cc0ae-79a4-4089-a051-26179e25d09d.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/9d638e3c-0f1f-45a7-a679-cb0ba53d1108.vsidx
tests/.vs/Jaeger.CIF/FileContentIndex/b49b909a-1165-47bd-9135-d92e1a584a0b.vsidx
tests/CIF.Sample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tests/CIF.Sample/obj/Debug/CIF.Sample.csproj.CopyComplete
*.vsidx
src/obj/Debug/Jaeger.SAT.CIF.csproj.CopyComplete
tests/CIF.Sample/bin/Debug/HtmlAgilityPack.pdb
tests/CIF.Sample/bin/Debug/HtmlAgilityPack.xml
tests/CIF.Sample/bin/Debug/itextsharp.xml
tests/CIF.Sample/bin/Debug/Jaeger.SAT.CIF.pdb
